// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#your-question {
  border-left: 5px solid grey;
  padding-left: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
}

#coach-answer {
  border-left: 5px solid grey;
  padding-left: 5px;
  background: yellow;
  margin-right: 600px;
  padding-bottom: 10px;
  padding-top: 10px;
}

p {
  font-style: italic;
}
